<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default.html}">

	<!-- 사용자 정의 contents -->
	<th:block layout:fragment="customContents">
	
		<table border="1">
			<thead>
				<tr>
					<th>회원 아이디</th>
					<th>회원 비밀번호</th>
					<th>회원 이름</th>
					<th>회원 등급</th>
					<th>회원등급이름</th>
					<th>회원 이메일</th>
					<th>회원 주소</th>
					<th>회원 등록날짜</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${not #lists.isEmpty(memberInfoList)}" th:each="l : ${memberInfoList}">
					<td th:text="${l.memberId}"></td>
					<td th:text="${l.memberPw}"></td>
					<td th:text="${l.memberName}"></td>
					<td th:text="${l.memberLevel}"></td>
					<td th:text="${l.levelInfo.levelName}"></td>
					<td th:text="${l.memberEmail}"></td>
					<td th:text="${l.memberAddr}"></td>
					<td th:text="${l.memberRegDate}"></td>
				</tr>
				<tr th:unless="${not #lists.isEmpty(memberInfoList)}">
					<td colspan="9">조회된 내용이 없습니다.</td>
				</tr>
			</tbody>
		</table>
	</th:block>

</html>