<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default.html}">

	<!-- 사용자 정의 contents -->
	<th:block layout:fragment="customContents">
		<form th:action="@{/member/modifyMember}" method="post">
			<table border="1">
				<tbody>
					<tr>
						<td>회원 아이디</td>
						<td>
							<input type="text" name="memberId" th:value="${member.memberId}" readonly="readonly">
						</td>
					</tr>
					<tr>
						<td>회원 비밀번호</td>
						<td>
							<input type="text" name="memberPw" th:value="${member.memberPw}">
						</td>
					</tr>
					<tr>
						<td>회원 이름</td>
						<td>
							<input type="text" name="memberName" th:value="${member.memberName}">
						</td>
					</tr>
					<tr>
						<td>회원 등급</td>
						<td>
							<select name="memberLevel" style="width: 100%;">
								<th:block th:if="${not #lists.isEmpty(memberLevelList)}"  th:each="l : ${memberLevelList}">
									<option th:value="${l.levelNum}" th:selected="${member.memberLevel eq l.levelNum}">[[${l.levelName}]]</option>
								</th:block>
								<th:block th:unless="${not #lists.isEmpty(memberLevelList)}">
									<option th:value="">등록된 회원등급이 없습니다.</option>
								</th:block>
							</select>
						</td>
					</tr>
					<tr>
						<td>회원 주소</td>
						<td>
							<input type="text" name="memberAddr" th:value="${member.memberAddr}">
						</td>
					</tr>
					<tr>
						<td>회원 이메일</td>
						<td>
							<input type="text" name="memberEmail" th:value="${member.memberEmail}">
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<button type="submit" style="width: 100%;">회원수정</button>
						</td>
					</tr>
				</tbody>
			</table>
		</form>
	</th:block>

</html>