<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- insert, delete, update, select 맞춰서 쓰지 않으면? 어떤 오류가 생길지 모른다! 맞춰서 쓰자 -->
<mapper namespace="ksmart.mybatis.mapper.GoodsMapper">
	<resultMap type="Goods" id="GoodsResultMap">
		<id column="g_code" property="goodsCode"/>
		<result column="g_name" property="goodsName"/>
		<result column="g_price" property="goodsPrice"/>
		<result column="g_seller_id" property="goodsSellerId"/>
		<result column="g_reg_date" property="goodsRegDate"/>
	</resultMap>
	
	<insert id="addGoods" parameterType="Goods">
		INSERT INTO tb_goods
		(	 g_code
			,g_name
			,g_price
			,g_seller_id
			,g_reg_date
		)VALUES(
			sf_new_goods_code()
			,#{goodsName}
			,${goodsPrice}
			,#{goodsSellerId}
			,CURDATE()
		);
	</insert>
	
	<select id="getSearchGoodsList" parameterType="String" resultMap="GoodsResultMap">
		SELECT
			 g.g_code
			,g.g_name
			,g.g_price
			,g.g_seller_id
			,g.g_reg_date
		FROM
			tb_goods AS g
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="searchValue != null and searchValue != ''"></if>
				${searchKey} LIKE CONCAT('%', #{searchValue}, '%');
		</trim>
	</select>
	
	<select id="getGoodsList" resultMap="GoodsResultMap">
		SELECT
			 g.g_code
			,g.g_name
			,g.g_price
			,g.g_seller_id
			,g.g_reg_date
		FROM
			tb_goods AS g;
	</select>
</mapper>